<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head><title>Back Cover</title>
    </head>
    <body>
        <div class="address" MadCap:conditions="Global.Comments">
            <p><MadCap:variable name="Global.Company Address" />
            </p>
            <p>Phone: <MadCap:variable name="Global.Company Phone" /></p>
            <p><MadCap:variable name="Global.Company Website" />
            </p>
        </div>
    </body>
</html>